.none-coga-mode {
  .site-header {
    background-color: rgba(255, 255, 255, 0.8);

    nav {
      a:hover {
        color: $purple-light;
      }

      .link-active {
        color: $purple-light;
        border-color: $purple-light;
      }

      a:hover.link-active {
        color: $purple;
        border-color: $purple;
      }
    }
  }
}

.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  .wrapper {
    position: relative;
  }

  nav {
    display: inline-block;
    margin-right: 5rem;

    ul {
      list-style-type: none;
    }

    li {
      display: inline-block;
    }

    a {
      display: block;
      padding: 1.2rem;
      font-weight: bold;
      background-color: transparent;
      color: $purple;
      border-bottom: 0.2rem solid transparent;
    }

    @media screen and (max-width: 43em) {
      .none-display {
        display: none;
      }
    }
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5rem;
  }

  .button:hover,
  .button.active:hover {
    background-color: $purple;

    .iconA11y {
      fill: #fff;
    }
  }

  .button.active {
    background-color: $purple-light;

    .iconA11y {
      fill: #fff;
    }
  }

  svg {
    width: 1.7rem;
  }
}

.active-coga-mode {
  .site-header {
    background-color: #fff;

    .wrapper {
      max-width: $coga-wrapper-width;
    }

    nav {
      a:hover {
        background-color: #ccc;
        color: $purple;
      }

      .link-active {
        background-color: #aaa;
        color: #fff;
      }

      a:hover.link-active {
        background-color: #ccc;
        color: #fff;
      }
    }
  }
}
