* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: block;
}

code {
  font-family: source-code-pro, monospace;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.site-header {
  padding: 1rem 0;
  background-color: #eee;
}

.site-main {
  padding: 1rem 0;
}

.a11y-icon {
  height: 1.5rem;
}
