@import './assets/scss/mixins.scss';
@import './assets/scss/presets.scss';
@import './assets/scss/header.scss';

@media screen and (min-width: 70em) {
  html {
    font-size: 110%;
  }
}

#root {
  @include flexbox-column;
}

main {
  @include flexbox-column;
  flex: 1 0 auto;
  margin-top: 3.9rem;

  section {
    @include flexbox-column;
    justify-content: center;
    position: relative;
    min-height: $section-height;
    padding: 8vh 0;
  }

  p {
    margin: 2rem 0;
  }

  a {
    color: $purple-light;
  }

  a:hover {
    text-decoration: underline;
  }
}

.wrapper {
  width: 90%;
  max-width: 80rem;
  margin: 0 auto;
}

.effect-sec {
  color: #fff;
}

.none-coga-mode {
  .definition {
    text-align: center;
  }

  .effect-sec {
    padding: 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);

    p {
      max-width: 50rem;
      margin: 0 auto;
    }

    .parallax-height {
      @include flexbox-column;
      justify-content: center;
      min-height: $section-height;
      background-color: rgba(4, 57, 73, 0.4);
    }
  }
}

.plain-sec {
  color: $purple;
  text-align: justify;
}

/* ---------- main sections ---------- */

.sec-claim {
  padding: 0;

  .claim {
    @include flexbox-column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;

    h1 {
      padding: 1rem 2rem;
      color: #fff;
      text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
  }

  .coga-motion {
    background-image: radial-gradient($purple-light, $purple);

    .particles {
      height: $section-height;
      width: 100%;
      margin: 0 auto;

      canvas {
        opacity: 0.6;
      }
    }
  }
}

@media screen and (min-width: 50em) {
  .flex-row-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row-reverse;
    vertical-align: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      width: 60%;
    }
  }
}

.sec-def {
  .coga-text {
    margin: 1rem 0;
  }

  .concept-gif {
    width: 40%;
    max-width: 15rem;
    margin: 0 auto;
    display: block;
  }
}

.sec-image {
  background-image: url(./assets/images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  z-index: 3;

  .back-color {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  h2 {
    color: #fff;
  }
}

.none-coga-mode .sec-modus {
  text-align: left;

  @media screen and (max-width: 40em) {
    h2 {
      text-align: left;
    }
  }
}

.sec-modus {
  .concept-text {
    margin: 1rem 0;
  }

  .brain {
    width: 50%;
    max-width: 12rem;
    margin: 0 auto;
    display: block;
  }
}

.none-coga-mode {
  .arrow-box {
    position: relative;
    margin-right: 2rem;

    .coga-text {
      margin-right: 7rem;
    }

    .image-arrow {
      position: absolute;
      bottom: 0.5rem;
      right: 0;
      width: 8vh;
    }
  }
}

.none-coga-mode .sec-image .back-color {
  background-image: radial-gradient(
    rgba(22, 141, 177, 0.5),
    rgba(4, 57, 73, 0.5)
  );
}

/* ---------- avtive-coga-mode ---------- */

.active-coga-mode {
  main {
    section {
      min-height: auto;
      min-height: $coga-section-height;
    }

    .wrapper {
      max-width: $coga-wrapper-width;
    }
  }

  .sec-claim {
    h1 {
      background-color: #fff;
      color: $purple;
      text-shadow: none;
      font-size: 3vh;
    }

    .particles {
      height: $coga-section-height;
      max-width: $coga-wrapper-width;
    }
  }

  .sec-para {
    color: $purple;
    background-color: #eee;

    img {
      display: block;
      width: 50%;
      margin: 0 auto;
      background-color: rgba(4, 57, 73, 0.4);
    }
  }
  .sec-image {
    p {
      font-weight: bold;
    }
    .back-color {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .definition {
    text-align: left;
  }

  .arrow-box .image-arrow {
    display: none;
  }
}

/* ---------- footer ---------- */

.site-footer {
  padding: 1rem 0;
  font-size: 0.9rem;
  background-color: $purple;
  color: #fff;
  text-align: right;
}

.active-coga-mode .site-footer .wrapper {
  max-width: $coga-wrapper-width;
}
